<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="mono.data">
			<section name="providers" type="Mono.Data.ProviderSectionHandler,Mono.Data" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="PgConnStr" value="factory=Npgsql;Server=localhost;Database=monotest;User ID=monotest;Password=monotest" />
		<add key="SqliteConnStr" value="factory=Mono.Data.Sqlite;Data Source=/home/xavier/Projects/Supos/Supos/DB/SuposDB.sqlite" />
		<add key="MediaPath" value="/home/xavier/Projects/Supos/Supos/DB/Media" />
	</appSettings>
	<mono.data>
		<providers>
			<provider 
				name="Npgsql" 
				connection="Npgsql.NpgsqlConnection" 
				adapter="Npgsql.NpgsqlDataAdapter" 
				command="Npgsql.NpgsqlCommand" 
				assembly="Npgsql, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"
				description="PostgreSQL" />
			<provider 
				name="Mono.Data.Sqlite" 
				connection="Mono.Data.Sqlite.SqliteConnection" 
				adapter="Mono.Data.Sqlite.SqliteDataAdapter" 
				command="Mono.Data.Sqlite.SqliteCommand" 
				assembly="Mono.Data.Sqlite, Version=2.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756"
				description="SQLite" />						
		</providers>
	</mono.data>
</configuration>